<hibernate-configuration>
    <session-factory>
        <!-- Database connection setting -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5434/hearth-stone</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">password</property>
        <!-- SQl dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <!-- update the database schema on startup -->

        <property name="hbm2ddl.auto">update</property>

        <mapping class="hearthstone.models.passive.Passive"/>
        <mapping class="hearthstone.models.passive.passives.FreePower"/>
        <mapping class="hearthstone.models.passive.passives.ManaJump"/>
        <mapping class="hearthstone.models.passive.passives.Nurse"/>
        <mapping class="hearthstone.models.passive.passives.OffCards"/>
        <mapping class="hearthstone.models.passive.passives.TwiceDraw"/>

        <mapping class="hearthstone.models.hero.Hero"/>
        <mapping class="hearthstone.models.hero.heroes.Mage"/>
        <mapping class="hearthstone.models.hero.heroes.Paladin"/>
        <mapping class="hearthstone.models.hero.heroes.Priest"/>
        <mapping class="hearthstone.models.hero.heroes.Rogue"/>
        <mapping class="hearthstone.models.hero.heroes.Warlock"/>

        <mapping class="hearthstone.models.Deck"/>

        <mapping class="hearthstone.models.specialpower.SpecialHeroPower"/>
        <mapping class="hearthstone.models.specialpower.specialpowers.MagePower"/>
        <mapping class="hearthstone.models.specialpower.specialpowers.PaladinPower"/>
        <mapping class="hearthstone.models.specialpower.specialpowers.PriestPower"/>
        <mapping class="hearthstone.models.specialpower.specialpowers.RoguePower"/>
        <mapping class="hearthstone.models.specialpower.specialpowers.WarlockPower"/>

        <mapping class="hearthstone.models.card.Card"/>

        <mapping class="hearthstone.models.card.heropower.HeroPowerCard"/>
        <mapping class="hearthstone.models.card.minion.MinionCard"/>
        <mapping class="hearthstone.models.card.reward.RewardCard"/>
        <mapping class="hearthstone.models.card.spell.SpellCard"/>
        <mapping class="hearthstone.models.card.weapon.WeaponCard"/>

        <mapping class="hearthstone.models.card.heropower.heropowers.AncientBlades"/>
        <mapping class="hearthstone.models.card.heropower.heropowers.Fireblast"/>
        <mapping class="hearthstone.models.card.heropower.heropowers.Heal"/>
        <mapping class="hearthstone.models.card.heropower.heropowers.Sacrificer"/>
        <mapping class="hearthstone.models.card.heropower.heropowers.TheSilverHand"/>

        <mapping class="hearthstone.models.card.minion.minions.Abomination"/>
        <mapping class="hearthstone.models.card.minion.minions.CurioCollector"/>
        <mapping class="hearthstone.models.card.minion.minions.Dreadscale"/>
        <mapping class="hearthstone.models.card.minion.minions.FaerieDragon"/>
        <mapping class="hearthstone.models.card.minion.minions.GoldshireFootman"/>
        <mapping class="hearthstone.models.card.minion.minions.HighPriestAmet"/>
        <mapping class="hearthstone.models.card.minion.minions.HulkingOverfiend"/>
        <mapping class="hearthstone.models.card.minion.minions.LabRecruiter"/>
        <mapping class="hearthstone.models.card.minion.minions.Locust"/>
        <mapping class="hearthstone.models.card.minion.minions.PitCommander"/>
        <mapping class="hearthstone.models.card.minion.minions.Sathrovarr"/>
        <mapping class="hearthstone.models.card.minion.minions.SecurityRover"/>
        <mapping class="hearthstone.models.card.minion.minions.Sheep"/>
        <mapping class="hearthstone.models.card.minion.minions.TheHulk"/>
        <mapping class="hearthstone.models.card.minion.minions.TombWarden"/>
        <mapping class="hearthstone.models.card.minion.minions.WrathscaleNaga"/>
        <mapping class="hearthstone.models.card.minion.minions.WrathspikeBrute"/>

        <mapping class="hearthstone.models.card.reward.rewards.LearnDraconic"/>
        <mapping class="hearthstone.models.card.reward.rewards.SecurityReward"/>
        <mapping class="hearthstone.models.card.reward.rewards.StrengthInNumbers"/>

        <mapping class="hearthstone.models.card.spell.spells.Blur"/>
        <mapping class="hearthstone.models.card.spell.spells.BookOfSpecters"/>
        <mapping class="hearthstone.models.card.spell.spells.FreezingPotion"/>
        <mapping class="hearthstone.models.card.spell.spells.FriendlySmith"/>
        <mapping class="hearthstone.models.card.spell.spells.GnomishArmyKnife"/>
        <mapping class="hearthstone.models.card.spell.spells.PharaohsBlessing"/>
        <mapping class="hearthstone.models.card.spell.spells.Polymorph"/>
        <mapping class="hearthstone.models.card.spell.spells.Soulfire"/>
        <mapping class="hearthstone.models.card.spell.spells.Sprint"/>
        <mapping class="hearthstone.models.card.spell.spells.SwarmOfLocusts"/>
        <mapping class="hearthstone.models.card.spell.spells.Tracking"/>
        <mapping class="hearthstone.models.card.spell.spells.WeaponSteal"/>

        <mapping class="hearthstone.models.card.weapon.weapons.BattleAxe"/>
        <mapping class="hearthstone.models.card.weapon.weapons.Candleshot"/>
        <mapping class="hearthstone.models.card.weapon.weapons.DesertSpear"/>
        <mapping class="hearthstone.models.card.weapon.weapons.EaglehornBow"/>
        <mapping class="hearthstone.models.card.weapon.weapons.Flamereaper"/>
        <mapping class="hearthstone.models.card.weapon.weapons.Glaivezooka"/>
        <mapping class="hearthstone.models.card.weapon.weapons.HeavyAxe"/>
        <mapping class="hearthstone.models.card.weapon.weapons.WarglaivesOfAzzinoth"/>
        <mapping class="hearthstone.models.card.weapon.weapons.WickedKnife"/>

        <mapping class="hearthstone.models.Account"/>
        <mapping class="hearthstone.models.Collection"/>
        <mapping class="hearthstone.models.AccountCredential"/>

        <mapping class="hearthstone.server.logic.Market"/>

    </session-factory>
</hibernate-configuration>